.App {
  background: #fcfcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3d2d0b;
  text-align: center;
}

.App-header {
  background-color: #fcfcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

img.profile {
  height: 40vh;
  width: 40vh;
}

.navigation {
  height: 10vh;
  width: 100vw;
  min-width: 260px;
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin-top: 4vh;
}

.navigation div {
  position: relative; 
  display: inline-block;
}

.navicon {
  padding: 0 2.3vw;
}

.icon {
  fill: #3d2d0b;
  width: 2em;
  height: 2em;
  stroke: #3d2d0b;
}

#skill-svg {
  width: 2.2em;
  height: 2.2em;
}

#school-svg {
  width: 2.3em;
  height: 2.3em;
}

#mail-svg {
  width: 1.7em;
  height: 1.7em;
  stroke-width: 4px;
}

.header-text {
  margin-top: 0.5vh;
}

.header-text .name {
  font-size: calc(20px + 2vmin);
  font-weight: 500;
}

.header-text .title {
  margin-top: 1vh;
  font-size: calc(2px + 2vmin);
}

.footer {
  font-size: calc(3px + 2vmin);
  bottom: 4vh;
  display: block;
  position: fixed;
  width: 100em;
  margin-bottom: 1.3em;
}

.footnote {
  font-size: calc(1px + 1.6vmin);
  bottom: 0.8em;
  display: block;
  position: fixed;
  width: 100em;
}

a {
  color: #3d2d0b;
  text-decoration: underline;
}

.footnote-link {
  text-decoration: none;
}

.credits {
  margin: 5vw
}

.credits-list {
  text-align: left;
  line-height: 2em;
  font-size: calc(4px + 2vmin);
}

.credits-list li {
  margin: 1em 0em;
}

.fade-text {
  margin: 0 auto
}

.button {
  font-size: calc(2px + 2vmin);
  text-decoration: none;
  background-color: #fcfcfc;
  color: #3d2d0b;
  border: 0px solid #3d2d0b;
}

.button:focus {
  outline: 0;
}

#typist-button {
  margin-top: 16px;
}

.attr {
  font-size: calc(8px + 2vmin);
  text-align: left;
  display: inline-block;
  width: 50%;
  margin: 5% 0% 8% 0%;
  min-width: 240px;
}

p {
  line-height: 1.8em;
  margin: 1em 0em;
}

.animaragraph {
  width: 100%;
  margin-left: 0em;
  transition-duration: 0.4s;
}

.animaragraph:hover {
  margin-left: 0.3em;
}

.video-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
}

.video-wrapper iframe {
  background: white;
  position: relative;
  width: 90%;
  height: 90%;
  top: 5%;
}

.video-select {
  display: block;
  position: absolute;
  left: 0;
  top: 90vh;
  width: 100vw;
}

.video-btn {
  display: inline-block;
  padding: 0 15vw;
}