.App {
  background: #fcfcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3d2d0b;
  text-align: center;
}

.App-header {
  background-color: #fcfcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

img.profile {
  height: 40vh;
  width: 40vh;
}

.navigation {
  height: 10vh;
  width: 100vw;
  min-width: 260px;
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin-top: 4vh;
}

.navigation div {
  position: relative; 
  display: inline-block;
}

.navicon {
  padding: 0 2.3vw;
}

.icon {
  fill: #3d2d0b;
  width: 2em;
  height: 2em;
}

#skill-svg {
  width: 2.3em;
  height: 2.3em;
}

#school-svg {
  width: 2.3em;
  height: 2.3em;
}

.header-text {
  margin-top: 0.5vh;
}

.header-text .name {
  font-size: calc(20px + 2vmin);
  font-weight: 500;
}

.header-text .title {
  margin-top: 1vh;
  font-size: calc(2px + 2vmin);
}

.footer {
  font-size: calc(2px + 2vmin);
  bottom: 6vh;
  display: block;
  position: fixed;
  width: 100em;
}

.credits {
  font-size: calc(1px + 1.2vmin);
  bottom: 0.8em;
  display: block;
  position: fixed;
  width: 100em;
}

.credits-list {
  text-align: left;
  line-height: 2em;
  font-size: calc(6px + 2vmin)
}

.credits-list li {
  margin: 1em 0em;
}

a {
  color: #3d2d0b;
  text-decoration: underline;
}

.credits-link {
  text-decoration: none;
}

.fade-text {
  margin: 0 auto
}

.skip-button {
  font-size: calc(4px + 2vmin);
  padding: 0.3em 1.2em;
  text-decoration: none;
  color: #3d2d0b;
  background-color: white;
  transition: .2s;
  margin-top: 16px;
  border: 2px solid #3d2d0b;
  border-radius: 100px;
}

.skip-button:hover {
  color: white;
  background-color: #3d2d0b;
}

.attr {
  font-size: calc(8px + 2vmin);
  text-align: left;
  display: inline-block;
  width: 50%;
  margin: 5% 0% 8% 0%;
  min-width: 240px;
}

p {
  line-height: 1.8em;
  margin: 1em 0em;
}

.animaragraph {
  width: 100%;
  margin-left: 0em;
  transition-duration: 0.4s;
}

.animaragraph:hover {
  margin-left: 0.3em;
}
