.App {
  background: #fcfcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3d2d0b;
  text-align: center;
}

.App-header {
  background-color: #fcfcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

img.profile {
  height: 40vh;
  width: 40vh;
}

.navigation {
  height: 10vh;
  width: 100vw;
  min-width: 260px;
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin-top: 6vh;
}

.navigation div {
  position: relative; 
  display: inline-block;
}

.navicon {
  padding: 0 3vw;
}

.icon {
  fill: #3d2d0b;
  width: 2em;
  height: 2em;
}

.footer {
  font-size: calc(4px + 2vmin);
  bottom: 2em;
  display: block;
  position: fixed;
  width: 100em;

}

.fade-text {
  margin: 0 auto
}

.skip-button {
  font-size: calc(4px + 2vmin);
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  background-color: black;
  transition: .1s;
  margin-top: 16px;
}

.skip-button:hover {
  margin-top: 10px;
  margin-bottom: 6px
}

.attr {
  font-size: calc(8px + 2vmin);
  text-align: left;
  display: inline-block;
  width: 50%;
  margin: 5% 0% 8% 0%;
  min-width: 240px;
}

p {
  line-height: 1.8em;
  margin: 1em 0em;
}

.animaragraph {
  width: 100%;
  margin-left: 0em;
  transition-duration: 0.4s;
}

.animaragraph:hover {
  margin-left: 0.3em;
}
